@import url('https://fonts.googleapis.com/css?family=Roboto:500,400,300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

.woocommerce-Price-currencySymbol {
  padding-right: 5px;
}
